// IMPORTS
@import "../mediaQ/mediaq.scss";

$color-background: #caf2f3 ;
$color-greendark: #00494d ;
$color-lightgreen: #06656a ;
$color-lightgreen-2: #37c2ab;
$color-lightwhite: #eaf0ef;
$color-labels: #5e7a7d;
$color-gray: #b5b8b5;
$color-white: #ffff ;

@mixin centrar() {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    margin: 0;
    padding: 0;

    main {
        width: 100%;
        height: 100vh;
        background-color: $color-background;
        @include centrar();

        @include mobile {
            background-color: $color-white ;
            height: auto;
        }

        .calculator-container {
            width: 800px;
            height: 430px;
            border-radius: 20px;
            background-color: $color-white;
            @include centrar();

            @include mobile {
                flex-direction: column;
                width: 100%;
                height: auto;
                border-radius: 0;
            }

            .calculator-1 {
                width: 47%;
                height: 89%;
                background-color: $color-white ;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;

                @include mobile {
                    width: 100%;
                    height: auto;
                    margin-top: 10px;
                }


                .bill {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 50px;

                    label {
                        color: $color-labels;
                        font-family: monospace;
                        font-weight: 700;
                        font-size: 18px;
                        margin-top: 10px;
                        padding-bottom: 5px;
                    }

                    .input-wrapper {

                        position: relative;

                        input {
                            width: 95%;
                            height: 40px;
                            background-color: $color-lightwhite;
                            border: 2px solid $color-white;
                            border-radius: 5px;
                            font-family: monospace;
                            font-size: 22px;
                            color: $color-greendark;
                            font-weight: 700;
                            text-align: right;
                            padding-right: 5px;

                            &:is(:active, :focus) {
                                outline: none;
                                border: 2px solid $color-greendark;
                            }

                            &::placeholder {
                                color: $color-gray;
                            }
                        }

                        img {
                            position: absolute;
                            left: 3%;
                            top: 28%;
                        }
                    }
                }

                .select-tip {
                    background-color: $color-white;
                    width: 90%;
                    padding-bottom: 50px;

                    label {
                        color: $color-labels;
                        font-family: monospace;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .tips {
                        display: flex;
                        width: 100%;
                        padding-top: 10px;
                        flex-wrap: wrap;
                        gap: 10px;

                        button {
                            width: 30%;
                            height: 45px;
                            border-radius: 5px;
                            border: none;
                            background-color: $color-greendark;
                            color: $color-white;
                            font-family: monospace;
                            font-size: 22px;
                            font-weight: 700;
                            transition: 0.2s;

                            &:hover {
                                cursor: pointer;
                                background-color: $color-background ;
                                color: $color-greendark ;
                            }
                        }

                        input {
                            width: 28%;
                            font-size: 22px;
                            font-family: monospace;
                            font-weight: 700;
                            border-radius: 5px;
                            border: none;
                            color: $color-greendark;
                            background-color: $color-lightwhite;
                            text-align: center;

                            &::placeholder {
                                color: $color-greendark;
                            }

                            &:is(:active, :focus) {
                                outline: none;
                                border: 2px solid $color-greendark;
                            }
                        }
                    }
                }

                .people {
                    width: 90%;
                    display: flex;
                    flex-direction: column;

                    label {
                        color: $color-labels;
                        font-family: monospace;
                        font-weight: 700;
                        font-size: 18px;
                        padding-bottom: 5px;
                    }

                    .input-wrapper2 {
                        position: relative;

                        input {
                            width: 95%;
                            height: 40px;
                            background-color: $color-lightwhite;
                            border: 2px solid $color-white;
                            border-radius: 5px;
                            font-family: monospace;
                            font-size: 22px;
                            color: $color-greendark ;
                            font-weight: 700;
                            text-align: right;
                            padding-right: 5px;

                            &:is(:active, :focus) {
                                outline: none;
                                border: 2px solid $color-greendark;
                            }

                            &::placeholder {
                                color: $color-gray;
                            }
                        }
                    }

                    img {
                        position: absolute;
                        left: 3%;
                        top: 28%;
                    }

                }
            }

            .calculator-2 {
                width: 47%;
                height: 89%;
                border-radius: 20px;
                background-color: $color-greendark;

                @include mobile {
                    width: 90%;
                    margin-top: 30px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .tip-amount {
                    width: 100%;
                    height: 50%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    .amount {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        .amount-1 {
                            width: auto;

                            h3 {
                                font-family: monospace;
                                font-weight: 700;
                                color: $color-white;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }

                            p {
                                padding-top: 0;
                                margin-top: 0;
                                font-family: monospace;
                                font-weight: 700;
                                color: #a8a8a8;
                            }
                        }

                        .amount-2 {
                            width: auto;

                            p {
                                font-size: 40px;
                                font-family: monospace;
                                font-weight: 700;
                                color: $color-lightgreen-2;
                            }
                        }
                    }

                    .total {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        .amount-1 {
                            width: auto;

                            h3 {
                                font-family: monospace;
                                font-weight: 700;
                                color: $color-white;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }

                            p {
                                padding-top: 0;
                                margin-top: 0;
                                font-family: monospace;
                                font-weight: 700;
                                color: $color-gray;
                            }
                        }

                        .amount-2 {
                            width: auto;

                            p {
                                font-size: 40px;
                                font-family: monospace;
                                font-weight: 700;
                                color: $color-lightgreen-2;
                            }
                        }
                    }
                }

                .reset {
                    width: 100%;
                    height: 50%;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    button {
                        width: 80%;
                        height: 45px;
                        border: none;
                        border-radius: 5px;
                        background-color: $color-lightgreen;
                        color: $color-greendark;
                        margin-bottom: 25px;
                        font-family: monospace;
                        font-size: 22px;
                        font-weight: 700;
                        transition: 0.2s;

                        &:hover {
                            cursor: pointer;
                            background-color: $color-background;
                        }
                    }
                }
            }
        }
    }
}